.select{
    border: solid 1px black;
    width: 100px;
    text-align: center;
}
.items div:hover{
    background: #1ea7fd;
    box-shadow: 3px 2px rgba(0,0,0, 0.4);
    border: solid 1px black ;
}
.items{
    display: block;
    border-radius: 10px;

}
.item.selected{
    background: #1ea7fd;
    color: white;
}





